In [1]:
import pandas as pd


csv_file_path = r"C:\Users\USER\Downloads\india crime\India_Crime_Data\India_Crime - Copy\42_District_wise_crimes_committed_against_women_2001_2012.csv"
df = pd.read_csv(csv_file_path)


print(df.head())

         STATE/UT       DISTRICT  Year  Rape  Kidnapping and Abduction  \
0  ANDHRA PRADESH       ADILABAD  2001    50                        30
1  ANDHRA PRADESH      ANANTAPUR  2001    23                        30
2  ANDHRA PRADESH       CHITTOOR  2001    27                        34
3  ANDHRA PRADESH       CUDDAPAH  2001    20                        20
4  ANDHRA PRADESH  EAST GODAVARI  2001    23                        26

   Dowry Deaths  Assault on women with intent to outrage her modesty  \
0            16                                                149
1             7                                                118
2            14                                                112
3            17                                                126
4            12                                                109

   Insult to modesty of Women  Cruelty by Husband or his Relatives  \
0                          34                                  175
1                          24                                  154
2                          83                                  186
3                          38                                   57
4                          58                                  247

   Importation of Girls
0                     0
1                     0
2                     0
3                     0
4                     0

In [8]:

df.columns = df.columns.str.strip()


district_counts = df.groupby('DISTRICT').size()


districts_3_or_more_years = district_counts[district_counts >= 3].index


filtered_df = df[df['DISTRICT'].isin(districts_3_or_more_years)]

In [16]:

sorted_df = filtered_df.sort_values(by=['DISTRICT', 'STATE/UT', 'Rape', 'Year'], ascending=[True, True, False, False])


result_df = sorted_df[['STATE/UT', 'DISTRICT', 'Rape', 'Year']]


print(result_df)

         STATE/UT           DISTRICT  Rape  Year
5055  WEST BENGAL  24 PARGANAS NORTH   231  2007
3572  WEST BENGAL  24 PARGANAS NORTH   217  2005
8147  WEST BENGAL  24 PARGANAS NORTH   203  2011
5811  WEST BENGAL  24 PARGANAS NORTH   192  2008
2839  WEST BENGAL  24 PARGANAS NORTH   176  2004
...           ...                ...   ...   ...
3342     NAGALAND          ZUNHEBOTO     1  2005
2608     NAGALAND          ZUNHEBOTO     1  2004
1151     NAGALAND          ZUNHEBOTO     1  2002
4819     NAGALAND          ZUNHEBOTO     0  2007
1880     NAGALAND          ZUNHEBOTO     0  2003

[8934 rows x 4 columns]

In [17]:
import pandas as pd


csv_file_path = r"C:\Users\USER\Downloads\india crime\India_Crime_Data\India_Crime - Copy\42_District_wise_crimes_committed_against_women_2001_2012.csv"
df = pd.read_csv(csv_file_path)


print(df.head())


df.columns = df.columns.str.strip()


district_counts = df.groupby('DISTRICT').size()


districts_3_or_more_years = district_counts[district_counts >= 3].index


filtered_df = df[df['DISTRICT'].isin(districts_3_or_more_years)]


sorted_df = filtered_df.sort_values(by=['DISTRICT', 'STATE/UT', 'Rape', 'Year'], ascending=[True, True, False, False])


result_df = sorted_df[['STATE/UT', 'DISTRICT', 'Rape', 'Year']]


print(result_df)

         STATE/UT       DISTRICT  Year  Rape  Kidnapping and Abduction  \
0  ANDHRA PRADESH       ADILABAD  2001    50                        30
1  ANDHRA PRADESH      ANANTAPUR  2001    23                        30
2  ANDHRA PRADESH       CHITTOOR  2001    27                        34
3  ANDHRA PRADESH       CUDDAPAH  2001    20                        20
4  ANDHRA PRADESH  EAST GODAVARI  2001    23                        26

   Dowry Deaths  Assault on women with intent to outrage her modesty  \
0            16                                                149
1             7                                                118
2            14                                                112
3            17                                                126
4            12                                                109

   Insult to modesty of Women  Cruelty by Husband or his Relatives  \
0                          34                                  175
1                          24                                  154
2                          83                                  186
3                          38                                   57
4                          58                                  247

   Importation of Girls
0                     0
1                     0
2                     0
3                     0
4                     0
         STATE/UT           DISTRICT  Rape  Year
5055  WEST BENGAL  24 PARGANAS NORTH   231  2007
3572  WEST BENGAL  24 PARGANAS NORTH   217  2005
8147  WEST BENGAL  24 PARGANAS NORTH   203  2011
5811  WEST BENGAL  24 PARGANAS NORTH   192  2008
2839  WEST BENGAL  24 PARGANAS NORTH   176  2004
...           ...                ...   ...   ...
3342     NAGALAND          ZUNHEBOTO     1  2005
2608     NAGALAND          ZUNHEBOTO     1  2004
1151     NAGALAND          ZUNHEBOTO     1  2002
4819     NAGALAND          ZUNHEBOTO     0  2007
1880     NAGALAND          ZUNHEBOTO     0  2003

[8934 rows x 4 columns]